* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("slike/ozadje_snap.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.logo {
    width: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

#input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#country-code {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 1px;
}

a {
    color: #00b0ff;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #00b0ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #008ecc;
}

#signup-link {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

#signup-link:hover {
    text-decoration: underline;
}
input[type=tel] {
    width: 95%;
}